extends layout

block append head
  link(rel='stylesheet' href='/stylesheets/index.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700')
  link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i")
  script(src='/javascripts/index.js')

block content
  body#page-top
    nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top

      .section.top
        .wrap
          .search
            input.searchTerm(type='text', placeholder='Looking for?')
            button.searchButton(type='submit')
              i.fa.fa-search

      a.navbar-brand.js-scroll-trigger(href='#page-top')
        span.d-none.d-lg-block
          img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='/images/profile.jpg', alt='')

      .collapse.navbar-collapse.login_form
        ul.navbar-nav
          - var session = "김태웅"
          li.nav-item
            if !session
              a(href='login') Login
              br
              a.join(href='sign-up') 회원가입
            else
              p #{session}
          .social-icons
            a(href='#')
              i.fab.fa-linkedin-in
            a(href='#')
              i.fab.fa-github
            a(href='#')
              i.fab.fa-twitter
            a(href='#')
              i.fab.fa-facebook-f

    // Main Page Content START
    .container-fluid.p-0
      .container-fluid.p-0.left
        hr
      
      .container-fluid.p-0.right
        section#experience.resume-section.p-3.p-lg-5.d-flex.flex-column
          .my-auto

            for item in boardList
              .resume-item.d-flex.flex-column.flex-md-row.mb-5
                .resume-content.mr-auto
                  h2.mainheading.mb-0 #{item.title}
                  .resume-date.text-md-right
                    span.text-primary.meta-item-date #{item.date}
                    span.text-primary.meta-item-no No.26 
                  p.maincontent
                    | #{item.content}
                  a.maincontent-href(href='readmore.html') Read More..
                  .subheading.mb-3
                    a.category-tag(href='#') #Node.js
                    a.category-tag(href='#') #server

              hr.m-0
            
            else
              | 작성하신 글이 없습니다.
              a.maincontent-href(href='readmore.html') Write...

            

    // Main Page Content END

